body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
	background-color: rgba(3, 3, 3, 0.1);
}

div[class^="col-"] {
    
}

.decoButton{
	
	background-color: rgba(0, 0, 255, 0.15);
}