body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
	background-color: rgba(3, 3, 3, 0.1);
}*/

div[class^="col-"] {
    
}

/* Classe */
.decoButton{
	
	background-color: rgba(0, 0, 255, 0.15);
}

img {
	pointer-event : none;
}

.flecheHaut {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 50px 25px;
	border-color: transparent;
	border-bottom-color : lime;
	margin-bottom : 3px;
	margin-top: 3px

}
 
.flecheBas {
   width:0;
	height: 0;
	border-style: solid;
	border-width: 50px 25px 0 25px;
	border-color: transparent;
	border-top-color : red;
	margin-bottom : 3px;
	margin-top: 3px

}